@{
    Layout = "_Layout.cshtml";
    Page.Title = "Kingdoms of Amalur - DLC's";
}
                <h1>Downloadable Content</h1>
                <div class="LDK">
                <a href="images/TheLegendofDeadKel.png" target=_blank title="The Legend of Dead Kel">
                            <img src="images/TheLegendofDeadKel.png" alt="The Legend of Dead Kel"/> 
                        </a>
                        </div>
                <p class="para">The Legend of Dead Kel was the first set of DLC to be released for Kingdoms of Amalur: Reckoning. It was released on March 20, 2012 on Xbox 360, PlayStation 3, Origin and Steam.<br /><br />

The Legend of Dead Kel takes players to Gallows End, a mysterious island that holds a brand new quest line, multiple side quests, a type of dungeon called "Dverga Fastings," three Twists of Fate, and a handful of previously unseen armor and weapons. The Fateless One also has access to Gravehal Keep - an estate housing a number of backstory-laden characters - as well as new shrines and Trainers.</p>     
                 <div class="LDK">
                 <a href="images/TeethofNaros.jpg" target=_blank title="Teeth of Naros">
                            <img src="images/TeethofNaros.jpg" alt="Teeth of Naros"/> 
                        </a>
                        </div>
                <p class="para">Teeth of Naros is the second DLC for Kingdoms of Amalur: Reckoning. Released on April 17, 2012 on Xbox360, PS3, Origin and Steam.<br /><br />

The Teeth of Naros opens up a brand new area, the Teeth of Naros for the Fateless One to explore - initially as part of a four person exploration team to rediscover the legendary land said to be sacred ground to trolls and named after their god. The Fateless One stumbles upon a lost civilization, the Kollossae of the floating city of Idylla, and his or her actions will forever shape the future of these proud beings.
                </p>