@{
    Layout = "_Layout.cshtml";
    Page.Title = "Kingdoms of Amalur - Gameplay";
}

                   <h1>Gameplay</h1>
                <div id="vid">
                    <embed id="gameplayVID" src="http://www.youtube.com/v/XplqXm93PUk" type="application/x-shockwave-flash"/>
                </div>
                <h2>Some key points</h2>
                <p class="para">Kingdoms of Amalur features five distinct regions, four playable races, and three class trees with 22 abilities per tree. The four playable races are the Almain (Civilized Humans), the Dokkalfar (Dark Elves), the Ljosalfar (Light Elves), and the Varani (Nomadic Humans).<br /><br /> <a href="images/large/FatelessOneCard_L.jpg" target=_blank title="Fateless One Card">
                            <img id="FSC" class="picBorder" src="images/FatelessOneCard.jpg" alt="Fateless One card"/> 
                        </a>The player starts off as a "blank slate", but can afterwards choose a class among the three available in the game, which are called Might, Finesse, and Sorcery; they correspond to the fighter, rogue, and mage classes respectively. As the player fights and gains experience, additional levels are unlocked. With each level gained, the player gains three ability points which can be invested in the skill-tree system to unlock or augment the 22 abilities.<br /><br /> By completing Faction quests and investing ability points, the player can also unlock various "destinies", which add positive buffs to the player.<br /><br />
Combat is based on the timing of button presses, similar to an action role-playing game, with occasional quick time event cutscenes. The combat includes a 'fate' system which allows players to accumulate 'fate points' and ultimately enter 'Reckoning Mode', a slow motion mode that allows the player to quickly dispatch enemies. The Reckoning Mode may end on player's command, with the depletion of the fate bar or by the act of 'Fateshifting' an enemy. Fateshifting involves performing a brutal finishing move on a single enemy. During the cosmetic Fateshifting phase, the player may rapidly tap a random button (chosen and displayed by the game) to increase the experience yield up to 100%. After the Fateshifting, all weakened enemies also die.<br /><br /><a href="images/large/FateshiftChains_L.jpg" target=_blank title="Fateshift using chains"><img id="FC" class="picBorder" src="images/FateshiftChains.jpg" alt="Fateshift using chains"/></a><br /><br />
The player can travel on land, jump down from predesignated spots and swim in the water. The player has the ability to communicate with, rob or kill NPCs; each of these actions have their own consequences. Lead combat designer Joe Quadara emphasized that "twitch skill is only going to get you so far. Strategy and proper RPG playing is going to get you farther."</p>