body 
{
    background-color:#ffffff;
}

.page
{
    background-color:rgba(255,255,255,0.6);
    color:Black;
}

.menuItem a
{
    font-family:'Shadows Into Light', cursive;
    color:Black; 
      
}

.menuItem a:hover
{
    background-color:rgba(255,255,255,0.3);
    color:#2a1911;    
    box-shadow: 0px 0px 20px rgb(255,255,255);  
}

#userS a,#gameUL a
{
    background-color:transparent;
    color:Black;
    
}

#userS a:hover,#gameUL a:hover
{
    background-color:rgba(255,255,255,0.3);
    box-shadow:none;
}


.login
{
    background-color:rgba(255,255,255,0.2);
    color:Black;
    box-shadow: 0px 0px 20px rgb(255,255,255);  
    font-family:'Shadows Into Light', cursive;
}

.login .textbox
{
    
    font-family:'Montserrat';
}

.tester
{  
    background-color:rgba(255,255,255,0.3);
   box-shadow: 0px 0px 20px rgb(255,255,255);  
   
}

header h6
{
    color:rgb(215,191,84);
    
    font-family: 'Shadows Into Light', cursive;
    text-shadow:5px 5px 5px black;
}

#inner h1
{
    color:rgb(215,191,84);
    font-family: 'Shadows Into Light', cursive;
    text-shadow:5px 5px 10px rgb(145,125,34);
}

#inner h2
{
    color:rgb(215,191,84);
    font-family: 'Shadows Into Light', cursive;
    text-shadow:5px 5px 10px rgb(145,125,34);
}

#inner p
{
    font-family: 'Montserrat', sans-serif;
    line-height:20px;
    text-shadow:0px 0px 8px black;
    
    /* from w3schools.com */
    -webkit-column-rule:3px dashed black; /* Chrome, Safari, Opera */
    -moz-column-rule:3px dashed black; /* Firefox */
    column-rule:3px dashed black; 
}

#homeP
{
    -webkit-column-rule:0px;
    -moz-column-rule:0px;
    column-rule:0px;
}

nav
{
    background-color:rgba(255,255,255,0.2);
    height:32px;
}

footer 
{
    border-top:3px groove black;
    color:Black;
}

footer a
{
    color:Black;
}

#rollPics
{
    border:3px solid black;
}

#inner p a
{
    text-decoration:none;
    color:rgb(215,191,84);
}

#inner p a:hover
{
    text-decoration:underline overline;
    color:Black;
}

.frm
{
    font-family: 'Montserrat', sans-serif;  
}

.frm fieldset
{
    border:3px groove rgb(215,191,84);
}

.error
{
    background-color:Red;
    color:White;
}

h3
{
    speak:normal;
    color:Black;
    font-family: 'Montserrat', sans-serif;  
    font-size:20px;
}
    
